@import "partials/variables", "partials/mixins";

@include font-google("Alegreya+Sans");
@include font-google("Titillium+Web");

body, html {
    background-size: cover;
    min-height: $percent100;
}
a {
  @include lighten($color-link);
}
h2, h3, h4 {
  @include darken($color-black);
  font-family: $font-family-header;
}
label {
  @include darken($color-black);
  font-family: $font-family-label;
  border-bottom: 1px solid transparentize($color-black, 1);
  transition: border-bottom 1s;
  transition-timing-function: ease-in-out;
  &:hover {
    border-bottom: 1px solid opacify($color-black, .5);
  }
}
.bgrContent {
    background-color: $background-color;
}
.bgrFlexMain {
  @include bgr;
}
.bgrMain {
  @include bgr;
  position:absolute;
}

@include screen-only-large {
  .hideMedium {
    @include display();
  }
}

@include screen-large {
  .hideSmallAndLarge {
    @include display();
  }
}

@include screen-medium {
  .marginTopLogin {
    margin-top: 30%;
    min-height: 400px;
  }
}

@include screen-min-medium {
  .marginTopLogin {
    margin-top: 25%;
  }
}

@include screen-not-xlarge {
  .displayNone {
    @include display();
  }
  .marginTop20 {
    margin-top: $pixels20;
  }
  .heightResp60 {
    margin-top: 10px;
  }
}

@include screen-xlarge {
  .displayNoneOnBig {
    @include display();
  }
  .marginTop20 {
    margin-top: 5px;
  }
  .height190 {
    @include value-height(150px);
  }
  .heightResp60 {
    @include value-height(60px);
  }
  .hideSmallAndLarge {
    @include display();
  }
}

@media screen and (max-width: 790px) {
  .headerButton {
    width: 100%;
    margin-bottom: $pixels10;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .logoutButton {
    max-width: 740px;
  }
}

@media screen and (min-width: 790px) {
  .maxWidth160{
    max-width: 160px;
  }
  .headerButton {
    min-width: 130px;
  }
  .minWidth160{
    min-width: 160px;
  }
}

@media screen and (max-width: 992px) and (min-width: 790px) {
  .logoutButton {
    max-width: 673px;
  }
  .logoutMargin {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .respWidth33{
    @include value-width(33%);
  }
}

@media screen and (max-width: 1399px) {
  .respWidth33{
    @include value-width(99%);
  }
}

@media screen and (min-width: 1000px) {
  .bigMarginLeft12px {
    margin-left: 12px;
  }
  .borderRespOnlyBigRight {
    border-right: 1px solid #7D7474;
  }
  .buttonsDown {
    margin-top: -20px;
  }
  .centerResp {
    @include text-position();
  }
  .drop-boxWider {
    @include drop-box;
    @include value-width(305px);
    height: 135px;
    padding-top: 25px;
  }
  .heightResp18 {
    height: 20px;
  }
  .heightResp50 {
    height: 50px;
  }
  .height92 {
    height: 123px;
  }
  .margin150 {
    margin-top: 150px
  }
  .margin16 {
    @include fixed;
    @include value-bottom(0);
    @include value-left(1px);
    @include value-right(1px);
  }
  .margin16both {
    @include margin-both($pixels48, $pixels48);
    min-height: 97.5%;
    @include value-height();
  } 
  .marginLeft024 {
    margin-left: 2.4%;
  } 
  .marginLeft150 {
    margin-left: 150px;
  }
  .marginToMinusFiveLeft {
    margin-left: -5%;
  }
  .marginToMinusTwoLeft {
    margin-left: -2%;
  }
  .marginTop05 {
    margin-top: 0.5%;
  }
  .marginTop0 {
    margin-top: 0%;
  }
  .marginTop1 {
    margin-top: $percent1;
  }
  .marginTop5 {
    margin-top: $pixels5;
  }
  .marginTopMinus16 {
    margin-top: -16px;
  }
  .marginTopMinus5 {
    margin-top: -5px;
  }
  .paddingBottomResp {
    padding-bottom: 20px;
  }
  .paddingBottomResp8 {
    padding-bottom: 20px;
  }
  .paddingBottomResp10 {
    padding-bottom: 20px;
  }
  .paddingBottomResp16 {
    padding-bottom: 30px;
  }
  .paddingBottomRespLarge {
    padding-bottom: 20px;
  }
  .paddingBottomRespSubtr2 {
    padding-bottom: 10px;
  }
  .paddingBottomRespx2 {
    padding-bottom: 30px;
  }
  .paddingBottomRespx3 {
    padding-bottom: 45px;
  } 
  .paddingBottomRespx4 {
    padding-bottom: 60px;
  }
  .paddingTop8 {
    padding-top: 8px;
  }
  .paddingTop20px {
    padding-top: $pixels20;
  }
  .respButtons {
    margin-top: 4px;
  }
  .respButtons03 {
    margin-top: -0.2%;
  }
  .respHidden-None {
    visibility: $overflow-hidden;
  }
  .respMarginLeft {
    margin-left: 15px;
  }
  .respMarginTop{
    margin-top: 9px;
  }
  .respMarginTop016 {
    margin-top: 1%;
  }
  .respMarginTop04 {
    margin-top: 0.4%;
  }
  .respMarginTop045{
    margin-top: 0.45%;
  }
  .respMarginTop1 {
    margin-top: 1%;
  }
  .respMarginTop5 {
    margin-top: 1%;
  }
  .respMarginTop15 {
    margin-top: 1%;
  }
  .respMarginTopMinus4 {
    margin-top: -4px;
  }
  .respTableWidth {
    @include value-width(32.2%);
  }
  .set-heightBig{
    max-height: 570px;
    padding: 0 15px;
    overflow: auto;
  }
}
@media screen and (max-width: 1000px) {
  .buttonsDown {
    margin-top: -15px;
  }
  .drop-boxWider {
    @include drop-box;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .heightResp18 {
    min-height: 20px;
  }
  .margin16 {
    @include fixed;
    @include value-bottom(0px);
    @include value-left(0px);
    @include value-right(0px);
  }
  .margin16both {
    min-height: $percent100;
    height: auto; 
  }
  .margin16white {
    @include margin-both(0, 0);
    background-color: $color-white;
  }
  .marginToMinusThreeLeft {
    margin-left: -4%;
  }
  .marginTop0 {
    margin-top: 8%;
  }
  .marginTop1 {
    margin-top: 0%;
  }
  .marginTops10px {
    margin-top: $pixels10;
  }
  .paddingBottomResp {
    padding-bottom: 15px;
  }
  .paddingBottomResp8 {
    padding-bottom: 8px;
  }
  .paddingBottomResp10 {
    padding-bottom: $pixels10;
  }
  .paddingBottomResp16 {
    padding-bottom: 16px;
  } 
  .paddingBottomRespSubtr2 {
    padding-bottom: 5px;
  }
  .paddingBottomRespx2 {
    padding-bottom: 20px;
  } 
  .paddingBottomRespx3 {
    padding-bottom: 30px;
  }  
  .paddingBottomRespx4 {
    padding-bottom: 40px;
  } 
  .paddingBottomOnlySmall20 {
    padding-bottom: $pixels20;
  }
  .paddingLeftMinusOne {
    padding-left: -1%;
  }
  .respButtons {
    margin-top: 0.5%;
  }
  .respButtons03 {
    margin-top: 0.3%;
  }
  .respHidden-None {
    @include display();
  }
  .respMarginBottom04 {
    margin-bottom: 0.4%;
  }
  .respMarginTop{
    margin-top: 4px;
  }
  .respMarginTop016 {
    margin-top: 1.6%;
  }
  .respMarginTop04{
    margin-top: 0.4%;
  }
  .respMarginTop045{
    margin-top: 0.4%;
  }
  .respMarginTop1 {
    margin-top: 1%;
  }
  .respMarginTop5 {
    margin-top: $pixels5;
  }
  .respMarginTop15 {
    margin-top: 15px;
  }
  .respPaddingTop5 {
    padding-top: $pixels5;
  }
  .respPaddingTop6 {
    padding-top: 6px;
  }
  .respPaddingTop15 {
    padding-top: 15px;
  }
  .respTableWidth {
    @include value-width(87.8%);
  }
  .respWidth50 {
    @include value-width(50%);
  }
  .set-heightSmall{
    padding: 0 15px;
    margin-bottom: 16px;
    overflow: auto;
  }
}

.backgroundActive {
  @include rounded;
  background-color: #F5EFED;
}

.backgroundColorDarkPink {
  background-color: #9F8D8D;
}

.background-colorDarkPink {
  background-color: #9F8D8D;
}

.background-colorDdd {
  background-color: #ddd;
}

.background-colorGray {
    background-color: #D3D3D3;
}

.background-colorLightPink {
  background-color: #EDDADA;
}
.border {
  border: 1px solid #7D7474;
}
.backgroundColorRed {
    background-color: red;
}
.borderBottom {
  border-bottom: $border-bottom;
}
.borderLeft {
  border-left: $border-bottom;
}
.borderRadius10 {
  @include rounded;
}
.borderRight {
  border-right: $border-bottom;
}
.borderRightColor {
  border:1px solid; 
  border-color: transparent #7D7474 #7D7474 transparent;
  border-width: 1px 3px 1px 1px;
}
.borderTop {
  border-top: $border-bottom;
}
.borderWarning {
  border-color: #a94442;
}
.centered {
  @include text-position();
}
.checkbox {
  @include text-position();
  margin-bottom: 30px;
  font-size: $pixels20;
  padding-bottom: 10px;
}
.colorBlack {
  color: black;
}
.colorBlue {
  background-color: $color-navy-blue;
}
.colorGray {
  background-color: #7F7B7B;
}
.colorGreen {
  background-color: #82B074;
}
.colorGreenFont {
  color: #3c763d;
}
.colorSuccess {
  color: $color-success;
}
.colorWarning {
  color: $color-warning;
}
.colorWhite {
  color: white;
}
.containerAccount {
  @include margin-both();
  padding-right: $pixels15;
  padding-left: $pixels15;
}

.containerMain {
  @include position-fixed;
  @include value-bottom(0);
  @include value-left(0);
  @include value-top(0);
  @include value-width(25%);
  background-color: $color-navy-blue;
}
.containerRight {
  @include position-fixed;
  @include value-bottom(0);
  @include value-right(0);
  @include value-top(0);
  @include value-width(75%);
  background-color: $color-light-blue;
}
.containerRightBottom {
  position: absolute;
  margin-top: 100px;
  @include value-right(0);
  @include value-width($percent100);
  @include value-height();
  background-color: $color-light-blue;
}
.containerRightTop {
  position: absolute;
  @include value-right(0);
  @include value-top(0);
  @include value-width($percent100);
  @include value-height(100px);
  background-color: $color-navy-blue;
}
.content {
  @include margin-down-up(4%, 4%);
  background-color: $color-white;
  border-radius: $pixels5;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}
.contentInner {
  background-color: #FBFCFC;
  border-radius: $pixels5;
}
.contentInnerBottom {
  background-color: #FBFCFC;
  border-radius: 0px 0px 10px 10px;
}
.contentInnerTop {
  background-color: #FBFCFC;
  border-radius: 10px 10px 0px 0px;
}
.cursorNotAllowed {
  cursor: not-allowed;
}
.cursorPointer {
  cursor:pointer;
}
.drop-box {
  @include drop-box;
  @include value-height();
  padding: 2.5%;
}
.drop-box-small {
  @include drop-box;
  padding-top: 10px;
}
.drop-boxWrapper {
    margin-left: -16px; 
    margin-top: 10px;
}
.dragover {
    border: 5px outset #B0A2AF;
    background: #EAE5EA;
}
.floatLeft {
  float: left;
}
.fontArial {
  @include font-weight($font-weight);
  font-family: $font-family;
}
.fontSize18 {
  font-size: $pixels18;
}
.font-small {
    font-size: $font-size-small;
}
.footer {
  @include fixed;
  @include value-bottom(0);
  @include value-right(1%);
  color: $color-navy-blue;
  z-index: -1;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin {
  @include text-position();
  margin-bottom: 30px;
}
.form-signin .checkbox {
  @include font-weight(normal);
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  @include value-height();
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: $pixels20;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.height1 {
    height: 1.5%;
}
.height2 {
    height: 2%;
}
.height025 {
    height: 2.4%;
}
.height3 {
    height: 3%;
}
.height4 {
  height: 3.5%;
}
.height5 {
    height: 5%;
}
.height6 {
    height: 6%;
}
.height7 {
    height: 7%;
}
.height8 {
  height: 8%;
}
.height10 {
    height: 10%;
}
.height16px {
    height: 16px;
}
.height20px {
    height: $pixels20;
}
.height12 {
    height: 12%;
}
.height25 {
  height: 25%;
}
.height30 {
  height: 30%;
}
.height50 {
  height: 50%;
}
.height60 {
  height: 60%;
}
.height78 {
  height: 78%;
}
.height85 {
  height: 85%;
}
.height88 {
  height: 88%;
}
.height100 {
  height:$percent100;
}
.height140 {
    height:140%;
}
.invisible {
    visibility: $overflow-hidden;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginBottom12 {
  margin-bottom: 12px;
}
.marginBottom15 {
  margin-bottom: $pixels15;
}
.marginBottom18 {
  margin-bottom: $pixels18;
}
.marginBottom20 {
  margin-bottom: $pixels20;
}
.marginBottom40 {
  margin-bottom: 40px;
}
.margin16left {
  margin-left: 16px;
}
.margin16right {
  margin-right: 16px;
}
.margin32left {
  margin-left: 32px;
}
.margin32right {
  margin-right: 32px;
}
.margin48left {
  margin-left: 48px;
}
.margin48right {
  margin-right: 48px;
}
.marginLeft1 {
  margin-left: $percent1;
}
.marginLeft6 {
  margin-left: 6%;
}
.marginLeft10 {
  margin-left: 10%;
}
.marginLeft13 {
    margin-left: 13%;
}
.marginLeftMinus011 {
    margin-left: -1.1%;
}
.marginLeftMinus1 {
    margin-left: -1%;
}
.marginLeftMinus2 {
  margin-left: -2%;
}
.marginLeftMinus4 {
  margin-left: -4%;
}
.marginLeftMinus13 {
  margin-left: -13%;
}
.marginRight05 {
  margin-right: 0.5%;  
}
.marginRight1 {
  margin-right: $percent1;
}
.marginLeftX {
  margin-left: 30%
}
.marginLeftY {
  margin-left: 105%
}
.marginTop02 {
  margin-top: 0.2%;
}
.marginTop04 {
  margin-top: 0.4%;
}
.marginTop05px {
  margin-top: $pixels5;
}
.marginTop07 {
  margin-top: 0.7%;
}
.marginTop1 {
  margin-top: $percent1;
}
.marginTop015 {
  margin-top: 1.5%;
}
.marginTop025 {
  margin-top: 2.5%;
}
.marginTop2 {
  margin-top: $percent2;
}
.marginTop3 {
  margin-top: $percent3;
}
.marginTop035 {
  margin-top: 3.5%;
}
.marginTop130 {
  margin-top: 78px;
}
.marginTop4 {
  margin-top: $percent4;
}
.marginTop5 {
  margin-top: 5.2%;
}
.marginTop6 {
  margin-top: 6%;
}
.marginTop7px {
  margin-top: 7px;
}
.marginTop8 {
  margin-top: 8%;
}
.marginTop15px {
  margin-top: $pixels15;
}
.marginTop20px {
  margin-top: $pixels20;
}
.marginTopMinus03 {
  margin-top: -0.3%;
}
.marginTopMinus05 {
  margin-top: -0.5%;
}
.marginTopMinus1 {
  margin-top: -1%;
}
.marginTopMinus010 {
  margin-top: -10px;
}
.marginTopMinus2 {
  margin-top: -2%;
}
.minHeight16 {
  min-height: 16px;
}
.minHeight20 {
  min-height: $pixels20;
}
.minheight380 {
  min-height: 370px;
}
.minheight465 {
  min-height: 410px;
}
.minWidth180 {
  min-width: 180px;
}
.noEvents {
  pointer-events: $none;
}
.noResize {
  resize: $none;
}
.notAllowed {
  pointer-events: $none;
  cursor: $default;
}
.opacity05 {
  opacity: 0.5;
}
.paddingBottom010 {
  padding-bottom: 1%;
}
.paddingBottom1 {
  padding-bottom: 1.5%;
}
.paddingBottom2 {
  padding-bottom: $percent2;
}
.paddingBottom26 {
  padding-bottom: 28%;
}
.paddingBottom3 {
  padding-bottom: $percent3;
}
.paddingBottom4 {
  padding-bottom: $percent4;
}
.paddingBottom5 {
  padding-bottom: 5%;
}
.paddingBottom055 {
  padding-bottom: 5.5%;
}
.paddingBottom30px {
  padding-bottom: 30px;
}
.paddingTop1 {
  padding-top: $percent1;
}
.paddingTop015 {
  padding-top: 1.5%;
}
.paddingTop2 {
  padding-top: $percent2;
}
.paddingTop3 {
  padding-top: $percent3;
}
.paddingTop5 {
  padding-top: 5%;
}
.paddingTop8 {
  padding-top: 8px;
}
.paddingTop15 {
  padding-top: $pixels15;
}
.paddingTop20px {
  padding-top: $pixels20;
}
.selected {
  @include font-weight(bold);
  background-color: #7D6464 !important;
  color: #EFE8E8;
}
.table-horizontal {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.textAlignCenter {
  @include text-position();
}
.textAlignRight {
  @include text-position(right);
}
.textAlignLast {
  text-align-last: $text-align-center;
}
.textAreaWhite {
  @include rounded;
  background-color: $color-white;
  padding-top: $pixels15;
  padding-bottom: $pixels5;
  font-size: $pixels18;
}
.underline {
  text-decoration: underline;
}
.right {
  @include value-width(70%);
  @extend .floatLeft;
}
.left {
  @include value-width(30%);
  @extend .floatLeft;
}
.vertical-menu {
}
.vertical-menu li, .vertical-menu span {
  @include display(block);
  padding: $pixels10;
  text-decoration: $none;
}
.vertical-menu li:hover {
  @include rounded;
  @include font-weight(bold);
  background-color: #ccc;
 }
.vertical-menu li.active {
  @include rounded;
  @include margin-down-up($pixels5, $pixels5);
  background-color: $color-white;
  color: $color-gray;
}
.vertical-menu span.active {
  @include rounded;
  @include margin-down-up($pixels10, $pixels10);
  @include font-weight(bold);
  background-color: #F9F8F8;
  color: $color-gray;
  text-transform: uppercase;
}
.width50 {
  @include value-width(50%);
}
.width90 {
  @include value-width(90%);
}
.width100 {
  @include value-width($percent100);
}
.wrapper {
  margin-top: 7%;
}
.selectFont option {
    font-size: $pixels18;
}
.bg-success1 {
  background-color: rgba(144,185,0,.85);
  color: $color-white;
}
.bg-danger1 {
  background-color: rgba(232,86,86,.85);
  color: $color-white;
}
.bg-warning1 {
  background-color: rgba(223,184,28,.85);
  color: $color-white;
}
.spanTag {
  margin-right: 2px;
}
.spanTag [data-role="remove"] {
  margin-left: 8px;
}
.spanTag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.displayHeader {
  margin-left: $pixels20;
}
.displayTitle {
  @include title-font;
  margin-left: $pixels20;
}
.topMenu {
  @include fonts($font-family, $pixels18, 400);
  margin-top: 38px;
  transition: box-shadow .3s linear,text-indent .3s linear;
}
.topMenuHovered {
  text-indent: 10px;
  transition-property: height;
  transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
.topMenuH2 {
  @include fonts($font-family, 30px, 400);
  margin-top: 30px;
  margin-left: 4%;
}
