// COLORS
$background-color: #F7F9F9;
$color-black: #323139;
$color-gray: #555;
$color-light-blue: #d3d3e5;
$color-link: #250FEE;
$color-navy-blue: #394960;
$color-success: #3c763d;
$color-warning: #a94442;
$color-white: #fff;

// FONTS
$font-family: "arial", sans-serif;
$font-family-header: "Titilium Web", Georgia, serif;
$font-family-label: "Alegreya Sans", Arial, sans-serif;
$font-size-small: small;
$font-weight: 500;

// SIZES
$percent1: 1%;
$percent2: 2%;
$percent3: 3%;
$percent4: 4%;
$percent100: 100%;
$pixels5: 5px;
$pixels10: 10px;
$pixels15: 15px;
$pixels18: 18px;
$pixels20: 20px;
$pixels48: 48px;

// OTHERS
$border-bottom: 1px solid #ddd;
$default: default;
$none: none;
$overflow-hidden: hidden;
$text-align-center: center;
